body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
h2{
	font: bold 20px/26px Verdana, Arial, sans-serif;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
/*html,body{
    display:table;
    height:100%;
    width:100%;
}*/
body {
	font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background: #A28D88;
/*
    display:table-cell;
    vertical-align:middle;
    margin:0;
*/
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper{
	margin: 0 auto;
	height: 100%;
	border: 1px solid #000;
	position: relative;
	overflow: hidden;
	background: url(img/levelmap.jpg) repeat-x 50% 100%;
    background-size: 100% auto;
    cursor: url(img/sight.png),crosshair;
}
.tank{
	width: 81px;
	height: 200px;
	background: url(img/tank.png) no-repeat 0 0;
	position: absolute;
	bottom: 5px;
	left: 250px;
}
.rocket{
	/*width: 2px;
	height: 10px;*/
    width: 15px;
    height: 32px;
    /*box-shadow: 0 0 8px 4px #cc0000;*/
	background: url(img/rocket.png) no-repeat 0 0;
	position: absolute;
	bottom: 100px;
	z-index: 1;
}
.bug{
	width: 60px;
	height: 60px;
	background: url(img/angry-bugs.gif) no-repeat 0 0;
    /*box-shadow: 0 0 60px #222222;*/
    border-radius: 8px;
	z-index: 5;
	position: absolute;
	top: -50px;
    background-size: auto 60px;
}
.bug-1{
    background-position: 0 0;
}
.bug-2{
    background-position: -68px 0;
}
.bug-3{
    background-position: -140px 0;
}
.bug-4{
    background-position: -211px 0;
}

.data{
    background: rgba(94,94,94,0.7);
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    font: 14px/16px Arial, Verdana, sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.data > span{
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px #000;
}
.kill-bugs{
    color: #3AC444;
}
.bugs-passed{
    color: #d61033;
}
.level{
    color: #E5A939;
}